<!--
title: BSPWM Cheatsheet
description: Learn BSPWM keybindings and how to change settings
published: true
date: 2021-12-19T10:35:00.961Z
tags: guide, bspwm, cheatsheet
editor: ckeditor
dateCreated: 2020-09-20T10:30:53.307Z
-->

<p style="text-align:justify;">So you just installed Garuda BSPWM and want to know how it works?&nbsp;<br>We ship a close to stock keybinding configuration which is set up using sxhkd. The configuration file resides in ~/.config/sxhkd/sxhkdrc and can be easily edited with an editor for example via terminal:</p>
<p style="text-align:justify;"><code>micro ~/.config/sxhkd/sxhkdrc</code></p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Starting applications</h2>
<p style="text-align:justify;">Alt + B &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Open Firefox</p>
<p style="text-align:justify;">Alt + W &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Open Garuda Welcome</p>
<p style="text-align:justify;">Alt + P &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Open Pamac (app manager)</p>
<p style="text-align:justify;">Alt + F &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Open Thunar (file manager)</p>
<p style="text-align:justify;">Super + Return &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Open Alacritty (terminal)</p>
<p style="text-align:justify;">Super + D &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Open Rofi (app launcher)</p>
<p style="text-align:justify;">Print &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Open Ksnip (screenshot tool)</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Operating using the keyboard</h2>
<p style="text-align:justify;">Super + Alt + Q &nbsp; &nbsp; &nbsp; &nbsp;Quit BSPWM (better use xfce logout button!)</p>
<p style="text-align:justify;">Super + Alt + R &nbsp; &nbsp; &nbsp; &nbsp;Restart BSPWM</p>
<p style="text-align:justify;">Super + Shift + Q &nbsp; &nbsp;Kill selected window</p>
<p style="text-align:justify;">Super + M &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Toggle between monocle and tiled layout</p>
<p style="text-align:justify;">Super + Y &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Switch newest marked node to newest preselected node (node = window)&nbsp;</p>
<p style="text-align:justify;">Super + G &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Switch current node with the biggest window</p>
<p style="text-align:justify;">Super + T &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Set window tiled</p>
<p style="text-align:justify;">Super + Shift + T &nbsp; &nbsp; Set window pseudo-tiled</p>
<p style="text-align:justify;">Super + S &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Set window floating</p>
<p style="text-align:justify;">Super + F &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Set window fullscreen</p>
<p style="text-align:justify;">Super + Shift + F &nbsp; &nbsp; &nbsp;Toggle window fullscreen</p>
<p style="text-align:justify;">Super + Shift + (1-0) &nbsp;Send window to desktop (1-10)</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">So these are the basic commands used in BSPWM. As mentioned before already you can change the keybindings pretty easily.&nbsp;<br>Window rules &amp; compositing are achieved using <code>bspwmrc</code> (<code>~/.config/bspwm/bspwmrc</code>) and <code>picom-ibhagwan-git</code> (<code>~/.config/picom/picom.conf</code>). Here you can for example turn off rounded corners for blurry windows.</p>
<p style="text-align:justify;">The files should be self-explaining, if there are questions concerning the setup feel free to ask them in our forum! 😊</p>
<figure class="image"><img src="/screenshots/sxhkd-syntax.png">
  <figcaption>Sxhkd syntax</figcaption>
</figure>
<p>&nbsp;</p>
