<!--
title: How to add dock & top bar to Dr460nized
description: Lets have a look at how to handle multiple monitors!
published: true
date: 2022-06-13T10:28:19.446Z
tags: tutorial, how-to, dr460nized, dual-screen
editor: ckeditor
dateCreated: 2022-03-02T15:12:14.144Z
-->

<p>Hey there 😇 Let's have a look at how to configure the Latte dock for multiple monitors!</p>
<p>&nbsp;</p>
<h2>The procedure</h2>
<figure class="image"><img src="/screenshots/latte_1.png"></figure>
<ul>
  <li>Rightclick the top bar and select <strong>Configure Latte</strong></li>
</ul>
<figure class="image image_resized" style="width:72.91%;"><img src="/screenshots/latte_2.png"></figure>
<ul>
  <li>Then head over to the layout editor and click <strong>Docks, Panels, …</strong></li>
</ul>
<figure class="image"><img src="/screenshots/latte_3.png"></figure>
<ul>
  <li>Now select the first layout, click duplicate and edit the <strong>Screen</strong> parameter accordingly</li>
  <li><strong>Repeat these steps</strong> for every monitor you want to have a Latte dock/top bar on</li>
  <li>Click on <strong>apply now</strong> to apply the changes and enable the layouts</li>
</ul>
<p>&nbsp;</p>
<h2>A few notes:</h2>
<p>Thanks to a recent feature addition, the Latte layout is now configured to have the same bars and docks on every screen by default. This means that changes to one screen will apply to every screen. There is the possibility of separating them following the guide above. Keep in mind that if you alter the Latte layout and want to apply the changes to other screens as well, the dock/top bar needs to be removed and added again using the <strong>duplicate</strong> button.</p>
