<!--
title: Flatpaks
description: Learn how to get Flatpak working
published: true
date: 2021-12-19T12:18:19.830Z
tags: howto, snap, flatpak
editor: ckeditor
dateCreated: 2020-12-22T21:50:18.930Z
-->

<h2 style="text-align:justify;">The state of Flatpaks on Garuda Linux</h2>
<p style="text-align:justify;">Flatpaks are a way to get applications on Linux. The advantage of Flatpaks are that they are independent from the system package manager.&nbsp;</p>
<p style="text-align:justify;">We recently decided to <strong>not support both Snaps &amp; Flatpaks </strong>as we got most applications in <strong>Chaotic-AUR</strong> already / <strong>AUR</strong> has it all usually. You can request packages to be added to Chaotic-AUR by creating a GitHub issue at the <a href="https://github.com/chaotic-aur/packages">packages repo</a>.&nbsp;</p>
<p style="text-align:justify;">If you absolutely need another source of applications, Flatpak should be the one used - helpful is its <a href="https://wiki.archlinux.org/index.php/Flatpak">Archwiki page</a>.</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">If fish is used as login shell</h2>
<p style="text-align:justify;">Since <a href="https://github.com/fish-shell/fish-shell">fish</a> doesnt use /etc/profile.d, Flatpaks won't work right away (eg. applications don't show up in the start menu). There are 2 possible workarounds:</p>
<ol>
  <li style="text-align:justify;">Set bash as login shell and <a href="https://wiki.archlinux.org/index.php/Fish#Modify_.bashrc_to_drop_into_fish">drop into fish</a> (follow the Archwiki)</li>
  <li style="text-align:justify;">Use <a href="https://github.com/edc/bass">bass-fish</a> to source bash environment variables (slows down terminal startup a bit)<ul>
      <li style="text-align:justify;"><code>sudo pacman -S bass-fish</code></li>
      <li style="text-align:justify;">Insert the following at the end of ~/.config/fish/config.fish:</li>
    </ul>
  </li>
</ol>
<p style="text-align:justify;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<code>for file in /etc/profile.d/*.sh</code></p>
<p style="text-align:justify;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<code>bass source $file</code></p>
<p style="text-align:justify;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<code>end</code></p>
<p style="text-align:justify;">The preferred workaround is the first one as it is faster and works natively with the environment variables due to bash starting before fish does.&nbsp;</p>
<p style="text-align:justify;">💡 This only concerns installations older than 210627, since this release we use bash as login shell &amp; fish in terminals only.</p>
