<!--
title: MacBook Pro Installation Instructions
description: Small guide to assist with the installation on MacBook Pro's
published: true
date: 2021-12-19T12:12:50.028Z
tags: guide, installation, instructions, macbook pro
editor: ckeditor
dateCreated: 2021-01-04T01:16:54.746Z
-->

<p style="text-align:justify;">The purpose of this guide is to give general orientation about how to install Garuda Linux on a MacBook Pro. However, know in advance that this may cause hardware compatibility issues that will not be covered here. If you choose to proceed, do so at your own risk. To find out if your Macbook Pro is compatible with Garuda (which is based on Arch Linux), it is recommended to check the extensive Arch Linux <a href="https://wiki.archlinux.org/index.php/Mac">wiki article</a> and the specifications of your Mac’s hardware. It is also advised to verify the <a href="https://bbs.archlinux.org/">Arch Linux forum</a> prior to the installation to know which problems you might have during or after the installation process.</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Backup</h2>
<p style="text-align:justify;">The first step before installing any OS is to back up your current one. This is even more critical if you will have to resize your current OS X partitions to accommodate Garuda. Since backing up important information can be very time consuming, it’s advisable to properly conclude this step before proceeding.</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Firmware updates</h2>
<p style="text-align:justify;">Before installing Garuda Linux on your MacBook Pro, it is important to ensure that the latest firmware for your hardware is properly installed. To do this, check for Software Update’s available in your Apple Store and the System Preferences.</p>
<p style="text-align:justify;">After installing any updates, reboot the computer and check again to ensure that everything has been properly installed.</p>
<p style="text-align:justify;">If you don’t have OS X installed on your MacBook Pro anymore, you have 2 options: ignore any firmware updates and proceed to the next step or reinstall OS X, update everything and then remove it or use it alongside with Garuda Linux in dual boot mode.</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Partitioning</h2>
<p style="text-align:justify;">The MacBook Pro is partitioned using the GPT scheme by default. This is the typical partition layout you will find in a MacBook Pro:</p>
<ul>
  <li style="text-align:justify;">EFI: a 200 MB Fat 32 partition which is used for the UEFI boot</li>
  <li style="text-align:justify;">Macintosh HD: a HFS+ partition that contains your OS X</li>
</ul>
<p style="text-align:justify;">(MacBook Pros older than 2013/2014 may also contain a Recovery HD Partition)</p>
<p style="text-align:justify;">If you want to remove OS X completely and install Garuda Linux you can proceed to step “Download”.</p>
<p style="text-align:justify;">If you want to keep both systems on your MacBook Pro with dual booting, you will have to manually resize the Macintosh HD partition to open space for Garuda Linux.</p>
<p style="text-align:justify;">To do so, first you have to check if your OS X partition is encrypted with FileVault. If it is, you must manually disable the encryption before proceeding. You can re-enable FileVault after resizing the partition.</p>
<p style="text-align:justify;">After disabling FileVault, verify the recommended partition size for the Garuda Linux distribution that you want to install.</p>
<p style="text-align:justify;">Open Disk Utility and resize the OS X partition until there is enough free space for the Garuda Linux distro. Apply the changes and wait for Disk Utility to finish (this may take a while). Make sure you also leave enough space for OS X to run properly. Keep in mind that it will get heavier over time with Apple’s updates.</p>
<p style="text-align:justify;">The new empty space will be properly partitioned for Garuda Linux during the installation.</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Download</h2>
<p style="text-align:justify;">Download the desired version of Garuda Linux from the official site. Check the integrity of the dowloaded iso with the command,</p>
<p style="text-align:justify;">In MacOS terminal:</p>
<p style="text-align:justify;"><code>shasum -a 256 /path/to/file.iso</code></p>
<p style="text-align:justify;">In Linux terminal:</p>
<p style="text-align:justify;"><code>sha256sum /path/to/file.iso</code></p>
<p style="text-align:justify;">and compare the output to the corresponding sha256 file from the Downloads section. If they don't match, re-download the iso and check again.</p>
<p style="text-align:justify;">Burn the downloaded ISO to a bootable USB key/pendrive/SD card using the Terminal. Check the recommended size for the bootable drive beforehand.</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Installation</h2>
<h3 style="text-align:justify;">Internet Connection</h3>
<p style="text-align:justify;">Reboot your MacBook Pro with the bootable drive connected. After the startup beep, hold down the Option button in order to see the boot options. Then, select the new USB boot option and Garuda Linux will be booted from the drive.</p>
<p style="text-align:justify;">To install Garuda Linux you will need your MacBook Pro to be connected to the Internet in order to fetch the packages. To do this, you have the following options:</p>
<ul>
  <li style="text-align:justify;">Thunderbolt Ethernet Adapter</li>
  <li style="text-align:justify;">Wi-fi</li>
  <li style="text-align:justify;">USB tethering</li>
</ul>
<p style="text-align:justify;">Using the Thunderbolt Ethernet Adapter is by far the easiest way, since the system will recognize it automatically and you won’t need to do anything else.</p>
<p style="text-align:justify;">Wi-fi is usually easy as well, since Garuda Linux is capable of recognizing some MacBook Pro drivers with no problems.</p>
<p style="text-align:justify;">However, if it does not work, you may have to manually download the drivers to make the wifi driver work or use USB tethering with your phone. I recommend following the steps found on the <a href="https://wiki.archlinux.org/index.php/Mac">Arch Linux wiki</a> for your specific MacBook Pro model to do this properly.</p>
<p style="text-align:justify;">&nbsp;</p>
<h3 style="text-align:justify;">Local Settings</h3>
<p style="text-align:justify;">The Garuda Linux installation process is extremely simple. Once the system has booted properly from your USB drive you will see a welcome window in the middle of the screen and a Install Garuda Linux icon on the top left corner of your monitor.</p>
<p style="text-align:justify;">Click on the install icon and follow the instructions to properly adjust your language, time zone and keyboard settings. Make sure you test the keyboard settings (symbols and special characters) before proceeding.</p>
<p style="text-align:justify;">&nbsp;</p>
<h3 style="text-align:justify;">Partitioning</h3>
<p style="text-align:justify;">In the Partitions step, you will see two options: Erase disk and manual partitioning.</p>
<p style="text-align:justify;">If you want to delete everything on your MacBook Pro, including the OS X, you can proceed with this option. Remember, everything will be erased and Garuda Linux will configure your partitions automatically. You may then proceed to the next step of this guide.</p>
<p style="text-align:justify;">If you want to dual boot your Garuda Linux with the current OS X, choose Manual Partitioning and click “next”.</p>
<p style="text-align:justify;">Now you should see the existing partitions of your MacBook Pro as well as the free space that you just created when you resized the OS X partition using Disk Utility.</p>
<p style="text-align:justify;">Warning: Do not click on New Partition Table, because that will erase your entire disk and create a new partition scheme!</p>
<p style="text-align:justify;">Now, select the free space volume and click on the button labeled “Create”. You will use this to create the needed/desired partitions for the Garuda Linux. These partitions you create here will only take effect after you click on the “Next” button.</p>
<p style="text-align:justify;">The recommended partition scheme to be created here is:</p>
<ul>
  <li style="text-align:justify;">One partition with 300MB, formatted as “fat32” and configured with the mount point “/boot/efi”. This will be the partition that your MacBook Pro will use to boot.</li>
  <li style="text-align:justify;">One partition with all the remaining free space to be your Garuda Linux “root” partition, which will be formatted as “btrfs” and configured with the mount point “/”.</li>
</ul>
<p style="text-align:justify;">If you want a separate “/home” partition, this is the moment to create it as well. This guide will not discuss further details of separated “/home” partitions here.</p>
<p style="text-align:justify;">If you want a separate Swap partition (see <a href="https://wiki.archlinux.org/index.php/swap">https://wiki.archlinux.org/index.php/swap</a>), this is also the moment to create it. To do it, create a new partition with the desired size, configure it’s File System as “linuxswap” and flag it as “swap”. This guide will not discuss further details of how much size is needed for a swap partition.</p>
<p style="text-align:justify;">Now that the partitions have been designed, you may apply the settings by clicking “Next”.</p>
<p style="text-align:justify;">Keep in mind that with this partition scheme that has been presented here, the MacBook Pro will start using the new Garuda Linux EFI partition as the main boot partition. If you want to dual boot, it is also possible to skip the creation of a new EFI partition and configure the already existing OS X EFI partition to “see” both operating systems. However, this procedure is more complex and will not be covered in this guide.</p>
<p style="text-align:justify;">&nbsp;</p>
<h3 style="text-align:justify;">Users and Reviewing</h3>
<p style="text-align:justify;">On the next step you will be prompted to choose the username and password for your new Garuda Linux. After this step, you will be able to see a summary of all the changes that the installer is about to make. Ensure that everything is correct, then click on “Install”.</p>
<p style="text-align:justify;">When the installation is concluded, click on restart and finish.</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Post Installation</h2>
<p style="text-align:justify;">If your installation was successful, your computer should reboot directly into Garuda Linux Grub screen. You can now select “Garuda Linux” and run it for the first time to check if everything is working correctly.</p>
<p style="text-align:justify;">Once your Garuda Linux boots, you should start connecting it to the internet to update the system. If your wi-fi adapter has been automatically recognized and is working properly, you can already use it normally. If it isn’t, use the same method you did on the Installation step to connect it to the internet.</p>
<p style="text-align:justify;">Once connected, run update the system by running the following command on the terminal:</p>
<p style="text-align:justify;"><code>sudo pacman -Syu</code></p>
<p style="text-align:justify;">After this, reboot the computer. You may want to go into the settings to adjust the screen scaling, since the MacBook Pro has a high resolution and the icons might be a bit small on the first boot. Keep in mind that you must reboot to apply the scaling changes.</p>
<p style="text-align:justify;">Now that your system is up to date, you can properly check it for known bugs. Here I will list some of them but everything depends on the hardware you’re using and the version of your MacBook Pro.</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Known bugs and compatibility fixes</h2>
<p style="text-align:justify;">As mentioned in the beginning of this guide, it is possible that you will find issues with your hardware due to lack of appropriate drivers. This is not Garuda Linux or Arch Linux fault, since this operating system is not originally built to run on proprietary hardware that has been meticulously customized to run with it’s own proprietary software. Therefore, everything that you see working here is the resulting effort of a large community working for free and if you find something that does not work, feel free to help making it work yourself.</p>
<h3 style="text-align:justify;">Wi-fi</h3>
<p style="text-align:justify;">If Garuda Linux is not automatically showing that you have a wi-fi adapter, you have to manually download and install the driver. In order to do it properly first you must identify the version of your MacBook Pro. You can do this by opening a terminal and typing the following command:</p>
<p style="text-align:justify;"><code>neofetch</code></p>
<p style="text-align:justify;">The line “Host” should return something like “MacBookProXX” where XX will be the year/version of your model. In the line “CPU” you can get the rest of the information you need to know the details of your computer.</p>
<p style="text-align:justify;">Now, with this information you can search for the correct driver on the Arch Linux Wiki and GitHub. Keep in mind however that while there are numerous volunteers working hard to get Arch Linux and it’s derivative distributions working on all sorts of platforms, it is possible that your specific model does not have a fully functional stable driver ready yet. This is particularly more likely with the most recent models.</p>
<h3 style="text-align:justify;">Webcam</h3>
<p style="text-align:justify;">To make the webcam work properly, you will have to manually download a driver compatible with your model. One of the only ones available for Arch Linux distros can be found at <a href="https://aur.archlinux.org/packages/bcwc-pcie-git/">https://aur.archlinux.org/packages/bcwc-pcie-git/</a></p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Dual booting</h2>
<p style="text-align:justify;">Once you have finished the adjustments you want, you can now reboot into OS X by simply holding down the “Option” button on your keyboard during the system startup and selecting OS X.</p>
