<!--
title: After installing / Garuda apps
description: How to proceed after installation and how to use Garuda applications
published: true
date: 2022-04-18T00:42:56.365Z
tags: guide, initial, setup, applications
editor: ckeditor
dateCreated: 2020-09-20T10:55:51.623Z
-->

<p style="text-align:justify;">So you just installed Garuda and want to know how to proceed? Keep on reading! 😊</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Downloading language packs</h2>
<p style="text-align:justify;">Some applications such as Firefox ship its language packs in separate packages which makes installing them after the initial setup a needed step. However, this is a simple process as the Garuda Settings Manager is able to detect and install missing language packs. Open it up and select the “<strong>Language Packages</strong>” option to download available language packs!</p>
<figure class="image image-style-align-left"><img src="/screenshots/garuda-settings-manager.png">
  <figcaption>The Garuda Settings Manager main window</figcaption>
</figure>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">The Garuda Welcome application</h2>
<p style="text-align:justify;">To make all applications easily accessible, all important options are launchable using the Garuda Welcome app. To get an overview on the current available settings, have a look at the picture below:</p>
<figure class="image"><img src="/screenshots/garuda-welcome.png"></figure>
<p style="text-align:justify;">The application serves as shortcut to our Garuda applications, web services and other important system management tools.</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Garuda Assistant</h2>
<p style="text-align:justify;">This is the flagship application of our distribution. Here, most of the system maintenance tasks can be performed by simply toggling the option. It can also easily show and copy logs of the system which are required in order to post a help request in our forum. Lets have a look at whats inside!&nbsp;</p>
<h3 style="text-align:justify;">Maintenance</h3>
<figure class="image"><img src="/screenshots/garuda-assistant-maintenance.png"></figure>
<p style="text-align:justify;">On this, we have package management related tasks as well as a convenient selection of applications which can get their settings reset to default in case of issues with the current configuration. You could for example use this to:</p>
<ul>
  <li style="text-align:justify;"><strong>Update the system</strong></li>
  <li style="text-align:justify;"><strong>Refresh the mirrorlists</strong> in case of bad download speeds during udpates</li>
  <li style="text-align:justify;"><strong>Refresh the keyrings</strong> if the update reports “invalid signatures”</li>
  <li style="text-align:justify;"><strong>Remove the database lock</strong> if Pacman reports it is still running even though it is not (e.g. after an interrupted update)</li>
  <li style="text-align:justify;"><strong>Remove orphan packages</strong> left behind after uninstalling a package</li>
  <li style="text-align:justify;"><strong>Clear cache and package cache</strong> to get back storage space</li>
</ul>
<p style="text-align:justify;">&nbsp;</p>
<h3 style="text-align:justify;">System components</h3>
<figure class="image"><img src="/screenshots/garuda-assistant-components.png"></figure>
<p style="text-align:justify;">This tab is dedicated to <strong>enable and disable features and software support</strong> easily. Basically, this has multiple toggles to:</p>
<ul>
  <li style="text-align:justify;"><strong>Install / remove</strong> a specific feature or application</li>
  <li style="text-align:justify;"><strong>Enable / disable</strong> the service of an application</li>
  <li style="text-align:justify;"><strong>Add / remove</strong> the user from a user group</li>
</ul>
<p style="text-align:justify;">As example, one could for example easily toggle support for printing and enable the firewall by selecting the concerning options and clickling “<strong>apply</strong>”. If you are unsure about what an option means, searching for “<a href="https://search.garudalinux.org/search">insertanyterm Arch wiki</a>” should provide an extensive explanation.</p>
<p>&nbsp;</p>
<h3>Settings</h3>
<figure class="image"><img src="/screenshots/garuda-assistant-settings.png"></figure>
<p style="text-align:justify;">The settings tab provides a simple interface to managing system settings and services easily. Unlike the components tab, it focuses on performance settings though. Possible use cases would be:</p>
<ul>
  <li><strong>Switching the default shell</strong> and installing default configs</li>
  <li><strong>Choosing another DNS server</strong> to get rid of ads, as outlined in our <a href="https://wiki.garudalinux.org/en/privacy-guide">privacy guide</a></li>
  <li><strong>Enabling / disabling</strong> profile-sync-daemon (loads browser profile to RAM) or Nohang (OOM killer)</li>
  <li>Install either <strong>performance or powersaving tweaks</strong> depending on what is preferred</li>
  <li>Enable / disable further performance related services</li>
</ul>
<p>Here again the hint that “<a href="https://search.garudalinux.org/search">insertanyterm Arch wiki</a>” should provide an extensive explanation about the displayed actions.</p>
<p>&nbsp;</p>
<h3>System specs and other diagnostics</h3>
<figure class="image"><img src="/screenshots/garuda-assistant-diagnostics.png"></figure>
<p>The last two tabs focus on providing a simple way of displaying relevant system logs. They also boast a “Copy for forum” and “Open forum” button which new users can use to get the output of <code>inxi -Faz</code> quickly as this will be the first things asked for when creating a help request at the forum. Shown logs include:</p>
<ul>
  <li><strong>Inxi</strong> - complete system and hardware information</li>
  <li><strong>Journal errors</strong> - useful for any kind of issue</li>
  <li><strong>Systemd-analyze</strong> - measuring boot times and investigating long boot times</li>
  <li><strong>Last Pacman log</strong> - analyzing issues with package transactions</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>BTRFS Assistant</h2>
<p>Initially, the BTRFS Assistants functions were integrated into Garuda Assistant. However, it eventually became its own application to also let other distributions profit from it. Lets have a look at what it can do!&nbsp;</p>
<h3>Overview Tab</h3>
<figure class="image"><img src="/screenshots/btrfs-assistant-main.png"></figure>
<p>As you can see, this tab provides most basic information about the filesystem like its size, currently used storage space and also recommends a BTRFS balance if needed. &nbsp;You can</p>
<ul>
  <li><s><strong>Control </strong></s><a href="https://github.com/kdave/btrfsmaintenance"><s><strong>btrfs-maintenance</strong></s></a><s><strong> related timers</strong> - these provide most basic maintenance tasks for the BTRFS filesystem and should usually be enabled</s> Moved to <code>Btrfs Maintenance</code> tab.</li>
  <li><s><strong>Control Snapper timers</strong> - this concerns regular timeline (hourly, daily, etc.) and boot snapshots as well as the regular snapshot cleanup</s> Moved to <code>Btrfs Snapper Settings</code> tab.</li>
  <li>Have a look at the <strong>actual filesystem usage</strong> and the estimated free space. Its estimated only due to transparent compression.</li>
  <li><strong>Check filesystem statistics</strong> and <strong>perform a full balance</strong> which might help if the system feels slow.</li>
</ul>
<p>&nbsp;</p>
<h3>Subvolumes Tab</h3>
<figure class="image"><img src="/screenshots/btrfs-assistant-subvolumes.png"></figure>
<p>This tab <strong>shows all available BTRFS subvolumes</strong>. You can additionally show Snapper and Timeshift snapshots and <strong>delete subvolumes</strong> on demand.</p>
<p>&nbsp;</p>
<h3>Snapper Tab</h3>
<figure class="image"><img src="/screenshots/btrfs-assistant-restore.png"></figure>
<p>Here, all the available snapshots created by Snapper can be <strong>managed</strong>. Every snapshot will have a corresponding number, time of creation tag and description which provides information about why a snapshot has been taken. It is also able to <strong>create new snapshots</strong>, <strong>delete obsolete ones</strong> and can - of course -<strong> restore them</strong>.&nbsp;</p>
<p>Restoring snapshots is as easy as:</p>
<ul>
  <li><strong>Boot into a snapshot</strong> via GRUB or use a <strong>live USB</strong> and open the application.</li>
  <li>Navigate to the <strong>Snapper tab</strong> and click enable<strong> “Restore Mode”</strong></li>
  <li>Select a snapshot and click “<strong>Restore Snapshot</strong>"</li>
  <li>Finish by <strong>rebooting</strong> the device</li>
</ul>
<p>As of Btrfs Assistant 1.0 we have new features in this tab:</p>
<ul>
  <li>Added a snapshot browser to explore your Snapper snapshots</li>
  <li>Added the abilty to restore individual files from snapshots</li>
</ul>
<p>&nbsp;</p>
<h3>Snapper Settings Tab</h3>
<figure class="image"><img src="/screenshots/btrfs-assistant-settings.png"></figure>
<p>This tab provides an easy way to handle Snapper settings. You can</p>
<ul>
  <li><strong>Create or delete configurations</strong> for different subvolumes</li>
  <li><strong>Control timeline snapshots</strong> - this can be useful to <strong>create regular snapshots</strong> apart from the ones taken before and after a package installation. Also, the <strong>amount of each individual snapshots </strong>can be controlled. If there are more than the preset number of snapshots, the<strong> Snapper cleanup timer will remove obsolete ones</strong>.</li>
  <li><strong>Control Snapper timers</strong> - this concerns regular timeline (hourly, daily, etc.) and boot snapshots as well as the regular snapshot cleanup</li>
</ul>
<p>&nbsp;</p>
<h3>Btrfs Maintenance Tab</h3>
<figure class="image"><img src="/screenshots/btrfs-assistant-maintenance.png"></figure>
<ul>
  <li><strong>Control </strong><a href="https://github.com/kdave/btrfsmaintenance"><strong>btrfs-maintenance</strong></a><strong> related timers</strong> - these provide most basic maintenance tasks for the BTRFS filesystem and should usually be enabled</li>
</ul>
<p>&nbsp;</p>
