<!--
title: Sway Cheatsheet
description: Learn how to operate Sway
published: true
date: 2021-12-19T12:11:12.284Z
tags: cheatsheet, how-to, sway
editor: ckeditor
dateCreated: 2021-04-05T14:49:59.643Z
-->

<h2>Basic keybindings</h2>
<p><strong>Mod key = Windows key</strong></p>
<ul>
  <li>start alacritty &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Mod+Return</li>
  <li>kill focused window &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Mod+q</li>
  <li>Application menu - wofi: &nbsp; &nbsp; Mod+d</li>
  <li>Activities &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Mod+p</li>
  <li>Power-Menu: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Mod+Shift+e</li>
  <li>Lock the system &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Mod+f1</li>
  <li>reload the config file &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Mod+Shift+c</li>
</ul>
<p>&nbsp;</p>
<h2><strong>Change window focus like vim</strong></h2>
<ul>
  <li>Mod+h focus left</li>
  <li>Mod+j focus down</li>
  <li>Mod+k focus up</li>
  <li>Mod+l focus right</li>
  <li><strong>alternatively, you can use the cursor keys</strong></li>
  <li>Mod+Left focus left</li>
  <li>Mod+Down focus down</li>
  <li>Mod+Up focus up</li>
  <li>Mod+Right focus right</li>
</ul>
<p>&nbsp;</p>
<h2><strong>Move a focused window</strong></h2>
<ul>
  <li>Mod+Shift+h move left</li>
  <li>Mod+Shift+j move down</li>
  <li>Mod+Shift+k move up</li>
  <li>Mod+Shift+l move right</li>
</ul>
<p><strong>alternatively, you can use the cursor keys</strong></p>
<ul>
  <li>Mod+Shift+Left move left</li>
  <li>Mod+Shift+Down move down</li>
  <li>Mod+Shift+Up move up</li>
  <li>Mod+Shift+Right move right</li>
</ul>
<p>&nbsp;</p>
<h2>Changing layouts</h2>
<p><strong>split in horizontal orientation (changes take place on next opened window)</strong></p>
<ul>
  <li>Mod+b</li>
</ul>
<p><strong>split in vertical orientation (changes take place on next opened window)</strong></p>
<ul>
  <li>Mod+v</li>
</ul>
<p><strong>enter fullscreen Mode for the focused container</strong></p>
<ul>
  <li>Mod+f fullscreen toggle</li>
</ul>
<p><strong>change container layout (stacked, tabbed, toggle split)</strong></p>
<ul>
  <li>Mod+s layout stacking</li>
  <li>Mod+w layout tabbed</li>
  <li>Mod+e layout toggle split</li>
</ul>
<p><strong>toggle tiling / floating</strong></p>
<ul>
  <li>Mod+Shift+space floating toggle</li>
</ul>
<p><strong>change focus between tiling / floating windows</strong></p>
<ul>
  <li>Mod+space focus Mode_toggle</li>
</ul>
<p><strong>focus the parent container</strong></p>
<ul>
  <li>Mod+a focus parent</li>
</ul>
<p><strong>resize floating window</strong></p>
<ul>
  <li>Mod+right mouse button</li>
</ul>
<p><strong>move floating window</strong></p>
<ul>
  <li>Mod+left mouse button</li>
</ul>
<p><strong>scratchpad</strong></p>
<ul>
  <li>Mod+Shift+Minus move scratchpad</li>
  <li>Mod+minus scratchpad cycle</li>
</ul>
<p><strong>resize Mode</strong></p>
<ul>
  <li>Mod+r</li>
</ul>
<p><strong>resize, like vim</strong></p>
<ul>
  <li>h focus left</li>
  <li>j focus down</li>
  <li>k focus up</li>
  <li>l focus right</li>
</ul>
<p><strong>alternatively, you can use the cursor keys</strong></p>
<ul>
  <li>Left focus left</li>
  <li>Down focus down</li>
  <li>Up focus up</li>
  <li>Right focus right</li>
</ul>
<p><strong>Return to default Mode</strong></p>
<ul>
  <li>Return or Escape</li>
</ul>
<p>&nbsp;</p>
<h2><strong>Workspaces</strong></h2>
<p><strong>Switch to workspace</strong></p>
<ul>
  <li>&nbsp;Mod+1 workspace number 1</li>
  <li>&nbsp;Mod+2 workspace number 2</li>
  <li>&nbsp;Mod+3 workspace number 3</li>
  <li>&nbsp;Mod+4 workspace number 4</li>
  <li>&nbsp;Mod+5 workspace number 5</li>
  <li>&nbsp;Mod+6 workspace number 6</li>
  <li>&nbsp;Mod+7 workspace number 7</li>
  <li>&nbsp;Mod+8 workspace number 8</li>
  <li>&nbsp;Mod+9 workspace number 9</li>
  <li>&nbsp;Mod+0 workspace number 10</li>
</ul>
<p><strong>Move focused container to workspace</strong></p>
<ul>
  <li>&nbsp;Mod+Shift+1 move container to workspace number 1</li>
  <li>&nbsp;Mod+Shift+2 move container to workspace number 2</li>
  <li>&nbsp;Mod+Shift+3 move container to workspace number 3</li>
  <li>&nbsp;Mod+Shift+4 move container to workspace number 4</li>
  <li>&nbsp;Mod+Shift+5 move container to workspace number 5</li>
  <li>&nbsp;Mod+Shift+6 move container to workspace number 6</li>
  <li>&nbsp;Mod+Shift+7 move container to workspace number 7</li>
  <li>&nbsp;Mod+Shift+8 move container to workspace number 8</li>
  <li>&nbsp;Mod+Shift+9 move container to workspace number 9 &nbsp;</li>
  <li>&nbsp;Mod+Shift+0 move container to workspace number 10</li>
</ul>
<p>&nbsp;</p>
<h2><strong>Multimedia Keys (be aware that these may not work for every keyboard)</strong></h2>
<p><strong>They are enabled - &nbsp;you may need to hold down the function key while doing so.</strong></p>
<p><strong>Screenshots</strong></p>
<ul>
  <li>PrintSrc for full screenshot</li>
  <li>Shift+PrintSrc for screenshot options</li>
</ul>
<p>&nbsp; <strong>App Shortcuts</strong></p>
<ul>
  <li>Mod+n thunar</li>
  <li>Mod+o librewolf</li>
</ul>
<p>&nbsp;</p>
