<!--
title: Шпаргалка для BSPWM
description: Научитесь использовать комбинации клавиш BSPWM и как менять настройки
published: true
date: 2020-12-12T12:57:01.579Z
tags: bspwm, шпаргалка
editor: ckeditor
dateCreated: 2020-12-12T12:56:58.010Z
-->

<p>Вы только установили Garuda и хотите знать как это все работает?<br>Мы поставляем близкую к стандартной конфигурацию комбинаций клавиш которая создается с использованием sxhkd. Файл конфигурации располагается в ~/.config/sxhkd/sxhkdrc и может быть легко отредактирован с помощью редактора в терминале:</p>
<p><code><mark class="marker-yellow">micro ~/.config/sxhkd/sxhkdrc</mark></code></p>
<p>&nbsp;</p>
<p><u>Запуск приложений</u><br>Alt + B &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Открыть Firefox</p>
<p>Alt + W &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Открыть Garuda Приветствие</p>
<p>Alt + P &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Открыть Pamac (менеджер приложений)</p>
<p>Alt + F &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Открыть Thunar (менеджер файлов)</p>
<p>Super + Return &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Открыть Alacritty (терминал)</p>
<p>Super + D &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Открыть Rofi (лаунчер приложений)</p>
<p>Print &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Открыть Ksnip (утилита для снимков экрана)</p>
<p>&nbsp;</p>
<p><u>Управление с использованием клавиатуры</u></p>
<p>Super + Alt + Q &nbsp; &nbsp; &nbsp; &nbsp;Выйти из BSPWM (лучше используйте кнопку выхода xfce!)</p>
<p>Super + Alt + R &nbsp; &nbsp; &nbsp; &nbsp;Перезапустить BSPWM</p>
<p>Super + Shift + Q &nbsp; &nbsp;Убить выбранное окно</p>
<p>Super + M &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Переключиться между “моноклем” (monocle) и плиточным оформлением</p>
<p>Super + Y &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Переключиться между новейшим помеченным узлом к новейшему предвыбранному узлу (узел=окно)</p>
<p>Super + G &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Переключиться к текущему узлу с наибольшим окном</p>
<p>Super + T &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Установить окно плиткой</p>
<p>Super + Shift + T &nbsp; &nbsp; Установить окно псевдо-плиткой</p>
<p>Super + S &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Установить окно плавающим</p>
<p>Super + F &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Установить окно на весь экран</p>
<p>Super + Shift + F &nbsp; &nbsp; &nbsp;Переключить окно на весь экран</p>
<p>Super + Shift + (1-0) &nbsp;Отправить окно на рабочий стол (1-10)</p>
<p>&nbsp;</p>
<p>Эти базовые комманды используются в BSPWM. Как упоминалось выше вы довольно просто можете изменить привязки клавиш.<br>Настройки окон и композиторов доступны с использованием bspwmrc (~/.config/bspwm/bspwmrc) и picom-ibhagwan-git (~/.config/picom/picom.conf). Здесь вы можете, к примеру, выключить закругленные углы вокруг расплывчатых окон.</p>
<p>Файлы должны быть самоописывающими, если есть вопросы насчет настройки не стесняйтесь спрашивать их на форуме! 😊</p>
<figure class="image"><img src="https://wiki.garudalinux.org/screenshots/sxhkd-syntax.png">
  <figcaption>Синтакс Sxhkd</figcaption>
</figure>
<p>&nbsp;</p>
