<!--
title: Snap & Flatpack
description: Узнайте как получить работающие Snap & Flatpak
published: true
date: 2020-12-24T20:25:03.169Z
tags: snap, flatpack
editor: ckeditor
dateCreated: 2020-12-24T20:25:01.208Z
-->

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Snap и Flatpaks are a way to get applications on Linux. This works independently from the systems package manager. Both of these are working on Garuda although manual intervention might be required if fish is used as default login shell.&nbsp;</p>
<p>We recently decided to not support both Snaps &amp; Flatpaks as we got a lot of apps in Chaotic-AUR already / AUR has it all usually. It will probably work fine but if it doesnt, dont create posts about it.&nbsp;</p>
<p>&nbsp;</p>
<p><u>Snap:</u></p>
<p><code>sudo pacman -S pamac-all</code></p>
<p>This will replace pamac-aur with the Snap/Flatpak enabled variant. If pacman asks to uninstall pamac-aur, this can be safely done. &nbsp;Next you have to enable the Snap services.</p>
<p><code>sudo systemctl enable --now snapd.socket</code></p>
<p><code>sudo systemctl enable --now apparmor.service</code></p>
<p><code>sudo systemctl enable --now snapd.apparmor.service</code></p>
<p>More information &amp; instructions on how to use Snap can be found in the <a href="https://wiki.archlinux.org/index.php/Snap">Archwiki</a></p>
<p>&nbsp;</p>
<p><u>Flatpak:</u>&nbsp;</p>
<p>Is already installed with installing pamac-all. Flatpak does not need to be enabled manually like Snap does. To find out how to use Flatpak read its <a href="https://wiki.archlinux.org/index.php/Flatpak">Archwiki page</a>.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><u>If fish is used as login shell:</u><br>Since fish doesnt use /etc/profile.d Snaps wont work right away (eg. doesnt show up in startmenu). There are 2 possible workarounds:</p>
<ol>
  <li>Set bash as login shell and <a href="https://wiki.archlinux.org/index.php/Fish#Modify_.bashrc_to_drop_into_fish">drop into fish</a> (follow the Archwiki)</li>
  <li>Use <a href="https://github.com/edc/bass">bass-fish</a> to source bash environment variables (slows down terminal startup a bit)<ul>
      <li><code>sudo pacman -S bass-fish</code></li>
      <li>Insert the following at the end of ~/.config/fish/config.fish:</li>
    </ul>
  </li>
</ol>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<code>for file in /etc/profile.d/*.sh</code></p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<code>bass source $file</code></p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<code>end</code></p>
<p>The preferred workaround is the first one as it is faster and works natively with the environment variables due to bash starting before fish does.&nbsp;</p>
