<!--
title: Инструкция по установке
description: Описание рекомендуемой процедуры установки
published: true
date: 2021-12-20T21:44:05.544Z
tags: установка, начало, инструкция по установке
editor: ckeditor
dateCreated: 2020-12-10T17:09:15.919Z
-->

<p>Это инструкция по установке <strong>Garuda Linux “Harpy Eagle”</strong>. Даже если ты устанавливал её раньше, останься! Может, узнаешь что-то новое.</p>
<p>&nbsp;</p>
<ul>
  <li><strong>ЗАМЕТОЧКА</strong></li>
  <li>Русский перевод статей может быть устаревшим, по понятным причинам: работа есть, но заниматься ей некому.</li>
  <li>Сейчас русским переводом занимаюсь я одна, поэтому вы должны понимать, что я не робот, и всё перевести не могу.</li>
</ul>
<p>&nbsp;</p>
<h2>Перед началом</h2>
<ul>
  <li>У нас есть инструкция по установке для <strong>MacBook Pro</strong>, <a href="https://wiki.garudalinux.org/en/installation-instructions-macbook-pro"><strong>тык</strong></a>.</li>
  <li><strong>Проверь своё железо.</strong> <a href="https://wiki.garudalinux.org/en/system-requirements"><strong>Здесь</strong></a> ты найдёшь системные требования <strong>Garuda Linux</strong>. (<i>необязательно, если ты уверен, что твой компуктер не рванёт</i>)</li>
  <li>Если хочешь <strong>дуалбут с Windows,</strong> то <strong>пожалуйста, не надо.</strong>
    <ul>
      <li>Ты всё равно его хочешь? Окей, посмотри <a href="https://forum.garudalinux.org/t/tutorial-for-dual-boot-garuda-linux-windows-10/3884"><strong>НЕОФИЦИАЛЬНЫЙ гайд по установке Garuda с Windows.</strong></a> (<i>возможно устаревший</i>)</li>
    </ul>
  </li>
  <li><strong>Скачай предпочитаемую редакцию.</strong> Также, <strong>проверь sha256sum</strong>, чтоб быть уверенным, что всё скачалось без ошибок.<ul>
      <li>Лучший способ это сделать - с помощью <strong>нашего официального загрузчика, Garuda Downloader.</strong> <i>Простой и современный способ загрузки и записи системы на флешку или компакт-диск.</i> Он загрузит образ довольно быстро, благодаря <strong>Zsync2</strong>, который просто загружает фактические различия между файлами.</li>
    </ul>
  </li>
</ul>
<figure class="image"><img src="/screenshots/garuda-downloader-main.png">
  <figcaption>Выбирай образ и нажимай “Download”</figcaption>
</figure>
<figure class="image"><img src="/screenshots/garuda-downloader-done.png">
  <figcaption>По окончанию загрузки, нажми “Launch Flasher”</figcaption>
</figure>
<figure class="image"><img src="/screenshots/garuda-downloader-flasher.png">
  <figcaption>Ну а тут разберется пятилетний ребёнок.</figcaption>
</figure>
<ul>
  <li>По окончанию загрузись в записанную на флешку систему, выбрав загрузочную запись в BIOS.</li>
  <li>Как это сделать можешь поискать <a href="https://duckduckgo.com/?q=%D0%BA%D0%B0%D0%BA+%D0%B7%D0%B0%D0%B9%D1%82%D0%B8+%D0%B2+%D0%B1%D0%B8%D0%BE%D1%81+%D0%B3%D0%BE%D1%81%D0%BF%D0%BE%D0%B4%D1%8C+%D0%BF%D0%BE%D0%BC%D0%B0%D0%B3%D0%B8&amp;t=ffab&amp;ia=web"><strong>туть.</strong></a></li>
</ul>
<p>&nbsp;</p>
<h2>Собственно, установка</h2>
<p>Оки-доки, мы загрузились в систему. Перед тобой одна из наших утилит - <strong>Garuda Welcome. </strong>Нажми <strong>“Install”</strong>, чтобы перейти к установке и запустить <strong>Calamares. </strong>Желательно поставить ноутбук на зарядку. Подключение к интернету не обязательно.</p>
<figure class="image"><img src="/screenshots/calamares.webp">
  <figcaption>Собственно, сам Calamares.</figcaption>
</figure>
<p>Ты мог заметить, что тут <strong>8 секций</strong>:</p>
<ul>
  <li style="text-align:justify;"><strong>WELCOME</strong> - Здесь тебе нужно выбрать язык системы.</li>
  <li style="text-align:justify;"><strong>LOCATION</strong> - Здесь карта. Если знаешь географию, кликни по месту жительства. Оно выставит часовой пояс.</li>
  <li style="text-align:justify;"><strong>KEYBOARD</strong> - Здесь тебе нужно выбрать раскладку и модель клавиатуры.</li>
  <li style="text-align:justify;"><strong>PARTITIONS</strong>
    <ul>
      <li style="text-align:justify;">Если плевать, выбери “<strong>Erase Disk</strong>”. <strong>Рекомендуется</strong>, если ты ставишь <strong>Garuda</strong> как основную ОС.</li>
      <li style="text-align:justify;">Если <strong>не</strong> плевать, выбери “<strong>Manual Partitioning</strong>”. Мануал по разметке диска будет доступен позже.</li>
    </ul>
  </li>
  <li style="text-align:justify;"><strong>USERS</strong> - Здесь тебе нужно ввести имя пользователя, имя хоста и пароль.</li>
  <li style="text-align:justify;"><strong>SUMMARY</strong> - Подведение итогов. Какая разметка, имя пользователя, и т.д.</li>
  <li style="text-align:justify;"><strong>INSTALL</strong> - Собственно, установка.</li>
  <li style="text-align:justify;"><strong>FINISH</strong> - Здесь всплывёт сообщение об успешной (или не очень) установке и предложат перезагрузиться.</li>
</ul>
<p style="text-align:justify;">&nbsp;</p>
